{% extends "base.html" %}

{% block title %}Scrape History{% end %}
{% block body %}

	<table>
		{% import string %}
		{% for course in sorted(data, key=lambda x:x[0][1]) %}
		{% set c = course[0] %}
		<tr><th colspan='14'>{{ '{} - {} {}'.format(c[1], string.capwords(c[2]), ' '.join([c[4], c[5]])) }}</th></tr>
		<tr>
			{% for header in table_headers %}
				<th>{{ escape(header) }}</th>
			{% end %}
		</tr>
			{% for row in course %}
				<tr>
				{% for i in range(len(row)) %}
					{% if i == len(row)-1 %}
					<td data-val="{{ row[i] }}">
					{% else %}
					<td>
					{% end %}
					{{ row[i] }}</td>
				{% end %}
				</tr>
			{% end %}
		{% end %}
	</table>
	
{% end %}